<template>
  <div class="hello">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-in">
        <br />
        <div
          v-if="mobile"
          id="hero-mobile-view"
          class="row mt-5 p-2"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="col-12">
            <div>
              <h1>Investor<br />Management Spesialist</h1>
            </div>
            <p class="text-lead">
              Kami solusi untuk Anda yang ingin <br />
              menitipkan unit kendaraan untuk dijual
            </p>
          </div>
          <div class="col-12 text-center">
            <img src="/assets/img/dashboard.png" alt="Responsive image" />
          </div>
        </div>
        <div v-else class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-md-8 col-lg-6 text-center">
            <img src="/assets/img/dashboard.png" alt="Responsive image" />
          </div>
          <div class="col-md-4 col-lg-6 info">
            <div>
              <h1>Investor<br />Management Spesialist</h1>
            </div>
            <p class="text-lead">
              Kami solusi untuk Anda yang ingin <br />
              menitipkan unit kendaraan untuk dijual
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= Get Started Section ======= -->
      <section id="get-started" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Mengapa pakai <span> Vehiclo?</span></h2>
            <p class="separator">
              Dengan menggunakan jasa kami <br />
              kendaraan Anda akan lebih cepat terjual
            </p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div
              class="col-md-6 col-lg-4"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="feature-block">
                <img src="assets/img/0.png" alt="img" class="mb-5" />
                <h4>
                  Proses yang instan <br />
                  aman dan nyaman
                </h4>
                <p>
                  Masukkan data mobil kamu dengan mudah dengan integrasi yang
                  mudah.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="feature-block">
                <img src="assets/img/1.png" alt="img" class="mb-5" />
                <h4>Jual kendaraanmu dan terima pembayaran instan</h4>
                <p>
                  Jika kendaraanmu berhasil terjual, uang penjualan akan
                  otomatis masuk ke rekening.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="feature-block">
                <img src="assets/img/2.png" alt="img" class="mb-5" />
                <h4>Kendaraan ditawarkan ke 1000+ partner kami</h4>
                <p>
                  Kami memiliki banyak partner siap membeli kendaraan yang kamu
                  titipkan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Get Started Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Pantau kendaraanmu</h2>
            <p class="separator">
              Kendaraan yang kamu titipkan bisa dipantau secara life dengan
              sistem
            </p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-6 col-lg-8 ml-5">
              <img src="assets/img/21.png" class="" alt="img" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Newsletter Section ======= -->
      <section id="newsletter" class="newsletter text-center">
        <div class="overlay padd-section">
          <div class="container" data-aos="zoom-in">
            <div class="row justify-content-center">
              <div class="col-md-9 col-lg-6">
                <form class="form-inline" method="POST" action="#">
                  <div class="col-12">
                    <h2 class="text-white">Nikmati kemudahan</h2>
                  </div>
                  <div class="col-12">
                    <h5 class="text-white h2 m-4">
                      Titip kendaraan di
                      <span class="font-weight-500">Vehiclo </span>
                    </h5>
                  </div>

                  <div class="col-lg-12 mt-4">
                    <h4>Segera gabung dengan kami</h4>
                    <p class="text-white">
                      Proses yang instan, aman, dan nyaman
                    </p>
                  </div>
                  <div class="col-12 ml-5">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Adress"
                      name="email"
                    />
                  </div>
                </form>
              </div>
            </div>

            <!-- <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul> -->
          </div>
        </div>
      </section>
      <!-- End Newsletter Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Partners.</h2>
            <p class="separator">
              Beberapa partner yang sudah menggunakan Steam
            </p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-6 col-lg-4">
              <div class="feature-block">
                <h4>BFI Finance</h4>
                <img src="assets/img/bfi.png" />
                <p class="pt-4">
                  BFI Finance memiliki jaringan pemasaran terbesar di Nusantara,
                  dengan 228 kantor cabang dan 173 gerai
                </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="feature-block">
                <h4>BFI Finance</h4>
                <img src="assets/img/bfi.png" />
                <p class="pt-4">
                  BFI Finance memiliki jaringan pemasaran terbesar di Nusantara,
                  dengan 228 kantor cabang dan 173 gerai
                </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="feature-block">
                <h4>BFI Finance</h4>
                <img src="assets/img/bfi.png" />
                <p class="pt-4">
                  BFI Finance memiliki jaringan pemasaran terbesar di Nusantara,
                  dengan 228 kantor cabang dan 173 gerai
                </p>
              </div>
            </div>
          </div>

          <div class="section-title text-center">
            <button class="btn btn-success mt-5">Lihat Testimoni</button>
          </div>
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Video Section ======= -->
      <!-- <section id="video" class="text-center">
      <div class="overlay">
        <div class="container-fluid container-full" data-aos="zoom-in">

          <div class="row">
            <a href="#" class="js-modal-btn play-btn" data-video-id="s22ViV7tBKE"></a>
          </div>

        </div>
      </div>
    </section> -->
      <!-- End Video Section -->

      <!-- ======= Team Section ======= -->
      <!-- <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Team Member</h2>
          <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="row">

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-block bottom">
              <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-block bottom">
              <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-block bottom">
              <img src="assets/img/team/3.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-block bottom">
              <img src="assets/img/team/4.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section> -->
      <!-- End Team Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="padd-section text-cente">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Package</h2>
            <p class="separator">
              Pilih paket Steam yang sesuai dan cocok dengan kebutuhan
              perusahaan Anda
            </p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-6 col-lg-4">
              <div class="block-pricing">
                <div class="table">
                  <h4>STANDARD</h4>
                  <p>Titip unit sebanyak maksimal 100 unit</p>
                  <h2>1 Juta <span class="lead h6">perbulan</span></h2>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="block-pricing">
                <div class="table">
                  <h4>BUSINESS</h4>
                  <p>Titip unit sebanyak maksimal 500 unit</p>
                  <h2>5 juta <span class="lead h6">perbulan</span></h2>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="block-pricing">
                <div class="table">
                  <h4>PROFESSIONAL</h4>
                  <p>Titip unit sebanyak maksimal 1000 unit</p>
                  <h2>11 juta <span class="lead h6">perbulan</span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="padd-section">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Hubungi kami</h2>
            <p class="separator">
              Ada yang bisa Steam bantu?Kirim pertanyaan ke kami
            </p>
          </div>
          <div
            class="row justify-content-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-8 col-md-8">
              <div class="form">
                <form
                  action="forms/contact.php"
                  method="post"
                  role="form"
                  class="php-email-form"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Nama Lengkap"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Nama Perusahaan"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Nomor Telepon Anda"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Email address"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Judul"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="5"
                      data-rule="required"
                      data-msg="Please write something for us"
                      placeholder="Feedback Anda"
                    ></textarea>
                    <div class="validate"></div>
                  </div>
                  <div class="row">
                    <div class="ml-3"></div>
                    <my-captcha
                      :callSuccess="captchaOk"
                      color="green"
                    ></my-captcha>
                  </div>
                  <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>
                  </div>
                  <div class="text-left">
                    <button type="submit">Kirim Pesan</button>
                    <!-- {{ screenDetect() }} -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
  </div>
</template>

<script>
import myCaptcha from "vue-captcha";
export default {
  name: "HelloWorld",
  props: {
    msg: String,
    myCaptcha,
  },
  components: {
    "my-captcha": myCaptcha,
  },
  data() {
    return {
      windowWidth: window.innerWidth,
      txt: "",
      mobile: false,
    };
  },

  watch: {
    windowWidth(val) {
      if (val <= 500) {
        this.mobile = true;
      } else {
        this.mobile = false;
      }
    },
  },

  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>

