<template>
  <div>
    <header id="header" class="header">
      <div class="container">
        <div id="logo" class="pull-left">
          <h1><a href="index.html">Vehiclo</a></h1>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="index.html">Home</a></li>
            <li><a href="#about-us">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#contact">Contact</a></li>
           <router-link to="/login"><button class="btn btn-success btn-lg">Masuk</button></router-link>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</template>